<?xml version="1.0" encoding="UTF-8"?>  
<configuration scan="true" scanPeriod="60 second" debug="false">  
	<property name="LOG_BASE_PATH" value="/Users/micro/logs/monitor/"></property>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">  
    <layout class="ch.qos.logback.classic.PatternLayout">  
      <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>  
    </layout>  
  </appender>
  
  <appender name="file"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <Encoding>UTF-8</Encoding>  
        <File>${LOG_BASE_PATH}/controller.log</File>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>%d{HH:mm:ss.SSS}-test.log
            </FileNamePattern>  
            <MaxHistory>10</MaxHistory>  
            <TimeBasedFileNamingAndTriggeringPolicy  
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                <MaxFileSize>5MB</MaxFileSize>  
            </TimeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n  
            </pattern>  
        </layout>  
    </appender>  
  
  <logger name="com.jyxb.monitor.controller" level="DEBUG" >
  	<apender-ref ref="stdout"/>
  	<apender-ref ref="file"/>
  </logger>  
  
  <root level="INFO">  
    <appender-ref ref="stdout" />
  </root>  
</configuration> 